__pycache__/
temp/
data/
ADSvalbard.qgs~
failures.csv*
failures.*.csv
.env
.cache/
temp\.*/
*.nc
cache/
/cache
move_and_symlink.sh
hello
*_test.py
shapes/arcticdem_bad_patches.qmd
/SETSM_s2s041*
figures/
tmp.fig/
