ipython
xarray
h5netcdf
odfpy
pyarrow
pytest
rasterio
xdem
gdal
graphviz
zarr
mypy
requests
cdsapi
bottleneck
icepyx
python-dotenv
h5py
pdal
dask-gateway-server
jupyter-server-proxy
projectfiles
variete
noisyopt
sympy
