ipython
xarray
h5netcdf
odfpy
pyarrow
pytest
rasterio
rioxarray
xdem
fiona
gdal
graphviz
zarr
mypy
requests
cdsapi
bottleneck
python-dotenv
h5py
pdal
dask-gateway-server
dask
dask-expr
jupyter-server-proxy
projectfiles
variete
noisyopt
sympy
scikit-learn
